.content{
    font-family: "Rubik", sans-serif;
}
.slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider {
    position: relative;
    width: 300px; /* Thay đổi kích thước slider theo nhu cầu */
    overflow: hidden;
    height: 300px;
  }
  
  .slider-button {
    position: absolute;
    top: 50%;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
  }
  
  .slider-button:first-child {
    left: 10px;
  }
  
  .slider-button:last-child {
    right: 10px;
  }
  
  .slide-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%;
  }
  