.wrap-menu{
    display: grid;
    grid-template-columns: repeat(18,1fr);
    height: 60px;
    width: 100%;
    border: 1px solid #ccc;
}
.route-page{
    display: flex;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 15;
    width: 100%;
    grid-gap: 10px;
}

.iconMenu{
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.link{
  text-decoration: none;
  color:#333;
}
.btn-route{
    text-align: center;
}
.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 15;
    grid-column-end: 18;
    width: 100%;
}

/*---------------------------*/
.slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider {
    position: relative;
    width: 300px; /* Thay đổi kích thước slider theo nhu cầu */
    overflow: hidden;
  }
  
  .slider-button {
    position: absolute;
    top: 50%;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
  }
  
  .slider-button:first-child {
    left: 10px;
  }
  
  .slider-button:last-child {
    right: 10px;
  }
  
  .slide-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%;
  }
  .search{
    padding: 10px;
    border-radius: 5px;
    width: 80%;
  }