.wrap-menu{
    display: grid;
    grid-template-columns: repeat(18,1fr);
    width: 100%;
    height: 140px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.content-header{
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 17;
    align-items: center;
    height: 100%;
    /* width: 100%; */
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    width: 100%;
}
.wrap-search-header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-header{
    width: 50%;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item-search-header{
    width: 25%;
    height: 100%;
    position: relative;
}

.item-address{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.item-address:hover{
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 40px;
}

.item-startDate{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.item-startDate:hover{
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 40px;
}

.item-endDate{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.item-endDate:hover{
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 40px;
}

.item-register{
    width: 100%;
    height: 100%;
    padding-left: 20px;
    position: relative;
}

.item-register:hover{
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 40px;
}

.btn-register{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
/*********************Option from menu filter*********************************************/


.option-address{
    margin-top:12px;
    border-radius: 20px;
    display: block;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    width: 400%;
    right: -300%;
    height: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.option-startDate{
    margin-top:12px;
    border-radius: 20px;
    display: block;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    width: 400%;
    right: -200%;
    height: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.option-endDate{
    margin-top:12px;
    border-radius: 20px;
    display: block;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    width: 400%;
    right: -100%;
    height: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.option-register{
    margin-top:12px;
    padding: 20px;
    border-radius: 20px;
    display: block;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    width: 360px;
    height: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.logo{
    grid-column-start: 1;
    grid-column-end: 2;
}
.route-pageintro{
    grid-column-start: 4;
    grid-column-end: -1;
    display: flex;
    align-items: center;
}
.route{
    width: 200px;
    text-align: center;
    font-weight: bold;
    color: #656565;
}